<div class="create-user" style="margin: 6% -100% 0% 0% !important;">
  <notifications-alert></notifications-alert>
  <ngx-spinner bdOpacity = 0.9
               bdColor = "#f4f4f9"
               size = "medium"
               color = "#1010ee"
               type = "ball-clip-rotate"
               [fullScreen] = "true"
               bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise"></ngx-spinner>
  <div class="header">
    <h2>Account Opening Form</h2>
  </div>
  <div class="col-md-6 col-sm-12">
    <div>
      <form [formGroup]="userForm" *ngIf="userForm">
        <div class="row">
          <div class="col-4 form-group">
            <label>{{LABEL.USER_ERR_FIRST_NAME}}</label>
            <input formControlName="firstName" type="text" class="form-control" placeholder="First name"
                   [ngClass]="{'error-border': !isValidControl('firstName')}">
          </div>
          <div class="col-4 form-group">
            <label>{{LABEL.USER_ERR_LAST_NAME}}</label>
            <input formControlName="lastName" type="text" class="form-control" placeholder="Last name"
                   [ngClass]="{'error-border': !isValidControl('lastName')}">
          </div>
          <div class="col-4 form-group">
            <label>{{LABEL.USER_ERR_MIDDLE_NAME}}</label>
            <input formControlName="middleName" type="text" class="form-control" placeholder="Middle name">
          </div>
        </div>
        <div class="row">
          <div class="col-4 form-group">
            <label>{{LABEL.USER_AGE}}</label>
            <input formControlName="age" type="number" class="form-control" placeholder="Age"
                   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="2"
                   [ngClass]="{'error-border': !isValidControl('age')}">
          </div>
          <div class="col-4 form-group">
            <label>{{LABEL.USER_EMAIL_ID}}</label>
            <input formControlName="emailId" type="text" class="form-control" placeholder="Email ID"
                   [ngClass]="{'error-border': !isValidControl('emailId')}">
          </div>
          <div class="col-4 form-group">
            <label>{{LABEL.CHALAN_ERR_CONTACT_NUMBER}}</label>
            <input formControlName="contactNumber" type="number" class="form-control" placeholder="Contact Number"
                   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10"
                   [ngClass]="{'error-border': !isValidControl('contactNumber')}">
          </div>
        </div>
        <div formGroupName="address">
          <div class="row">
            <div class="col-4">
              <label for="state">State</label>
              <input formControlName="state" type="text" class="form-control" placeholder="State" id="state">
            </div>
            <div class="col-4">
              <label for="district">District</label>
              <input formControlName="district" type="text" class="form-control" placeholder="District" id="district">
            </div>
            <div class="col-4">
              <label for="city">City</label>
              <input formControlName="city" type="text" class="form-control" placeholder="City" id="city">
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <label for="pincode">Pincode</label>
              <input formControlName="pincode" type="number" class="form-control" placeholder="Pincode" id="pincode"
                     oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="6">
            </div>
            <div class="col-4">
              <label for="addressLine1">Address Line 1</label>
              <input formControlName="addressLine1" type="text" class="form-control" placeholder="Address Line 1"
                     id="addressLine1">
            </div>
            <div class="col-4">
              <label for="addressLine2">Address Line 2</label>
              <input formControlName="addressLine2" type="text" class="form-control" placeholder="Address Line 2"
                     id="addressLine2">
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <label for="landMark">Landmark</label>
              <input formControlName="landMark" type="text" class="form-control" placeholder="Landmark"
                     id="landMark">
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-4 form-group">
            <label>{{LABEL.USER_ERR_AADHAR_NUMBER}}</label>
            <input formControlName="aadharNumber" type="number" class="form-control" placeholder="Aadhar Number"
                   [ngClass]="{'error-border': !isValidControl('aadharNumber')}"
                   oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="12">
          </div>
          <div class="col-4 form-group">
            <label>{{LABEL.USER_PASSWORD}}</label>
            <input formControlName="accessKey" type="password" class="form-control" placeholder="*********"
                   [ngClass]="{'error-border': !isValidControl('accessKey')}">
          </div>
        </div>
      </form>

      <div class="">
        <button type="button" class="btn btn-outline-dark bcb-btn" (click)="cancleUserSave()">Cancel</button>
        <button type="submit" class="btn btn-secondary bcb-btn bcb-sec-btn" (click)="saveuser()">Request</button>
      </div>

    </div>
  </div>
</div>
