.bcb-btn{
  margin-right: 1%;
}

.bcb-sec-btn{
  color: #fff;
  background-color: #195b96;
  border-color: #1877cb;
}

.negative-value-item{
  font-weight: bold;
  color: #a50606;
}

.header{
  margin-left: 0.4%;
  margin-bottom: 0.5%;
}
