<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body style="color: midnightblue;">
    <p>Hi <span th:text="${addreseeName}"></span>,</p>
    <p>
        Welcome to RJFC BANK. We have onboarded you. Please login to
        <a href="http://localhost:4200/login"  target="_blank" />RJFC BANK</a>
        with your email id as your username.
    </p>

    <p>
        Thanks and regards,<br>
        <span>RJFC BANK</span>
    </p>
</body>
</html>