<img id="hdfc_bck_img" class="hdfc_bck_img" src="../../../assets/images/background.png">
<div id="chatTogglerDiv" style="opacity: 1; display: block; opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: -5%;
  width: 280px;
  opacity: 1;
  display: block;
  padding: 16px 20px;"><img id="chatTogglerImg" src="https://hbchat.senseforth.com/HDFC_Chat/assets/EVA_newlogo2.0.png"
                            (click)="toggleChat(true)">
</div>

<div class="form-popup" *ngIf="showChatBox" #window [scrollTop]="window.scrollHeight">

  <div class="ui-corner-top ui-chatbox-titlebar">
    <div class="torso title-torso"></div>
    <span>Ask RJ</span>
    <a class="close" (click)="toggleChat(false)">&times;</a>
  </div>
  <ngx-spinner bdOpacity = 0.9
               bdColor = "#f4f4f9"
               size = "medium"
               color = "#1010ee"
               type = "ball-clip-rotate"
               [fullScreen] = "false"
               bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise"></ngx-spinner>
  <div style="position: fixed">

  </div>

  <div class="chat-box">
    <ng-container *ngFor="let message of messages">

      <div *ngIf="message.author === 'BOT'" class="message from">
        <div class="menu-header-message">{{message.headerMessage}}</div>

        <div *ngIf="message.questions.length == 1">
          <span *ngFor="let content of message.questions;">
            <span class="response-action-elem">
              <div *ngIf="content.enable == true">
                <span>{{content.message}}</span>
              </div>
              <div *ngIf="content.enable == false">
                <span>{{content.message}}</span>
              </div>
            </span>
          </span>
        </div>

        <div *ngIf="message.questions.length != 1">
          <span *ngFor="let content of message.questions;">
            <span class="quicklinks-action-elem">
              <div *ngIf="content.enable == true">
                <span (click)="messageFromUser(content)">{{content.message}}</span>
              </div>
              <div *ngIf="content.enable == false">
                <span>{{content.message}}</span>
              </div>
            </span>
          </span>
        </div>
      </div>

      <div *ngIf="message.author === 'USER'" class="message to">
        <div *ngFor="let content of message.questions;">
          {{content.message}}
        </div>
      </div>

    </ng-container>
    <label *ngIf="messages.length == 0; else dialogInfo">Please give few moments for RJ !!!</label>
    <!-- <ng-template #dialogInfo>
       <div style="position:absolute; bottom:0px; height:200px; left:0px; right:0px; overflow:hidden;">
         <span [className]="'float-right'">Total messages: {{messages.length}}</span>
       </div>

     </ng-template>-->
    <div class="row">
      <div class="col-12 form-group chat-input">
        <input class="form-control" placeholder="" [(ngModel)]="userInput" (keyup.enter)="onUserInput()">
      </div>
    </div>
  </div>
</div>



